
{% extends 'postal_manager/template.html' %}


{% block tabela_objetos %}
{% endblock %}

{% block vazio %}
<style>
    

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      
      
  </style>
<main class="form-signin">
    <div style="height:80px"></div>
<form>
    
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    <div style="height:10px"></div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted center text-center">&copy; 2021–2022</p>
  </form>
</main>

{% endblock %}


{% block cadastro_objetos_simples %}
{% endblock %}
